# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# Environment variables
.env
.env.* 

# OS or Editor files
.DS_Store
Thumbs.db

# If you use TypeScript
*.tsbuildinfo

# pm2 or other process managers
.pm2/
